include index.pug
div.container.px-4.px-lg-5
    div.row.gx-4.gx-lg-5.justify-content-center
        div.col-md-10.col-lg-8.col-xl-7
            div.post-preview
                p Cześć! Mam na imię Konrad i interesuję się fizyką. Poza tym lubię tłumaczyć anglojęzyczne artykuły o fizyce, kosmosie oraz astronomii.
                p Przepraszam wszystkich z góry za wszelkie ewentualne błędy w tłumaczeniach.

script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js") 